h1{color:#00FF00;
}
h2{color:#ff8080;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
body {
  background-color: #FFE4C4;
}
hr{
 border-color: orange;
 border-width: 5px;
 border-style: dotted none none;
 width: 11%
}
